@page "/"
@inject HttpClient Http
@inject NavigationManager NavManager
<PageTitle>Index</PageTitle>

<h1 align="center">Hola 👋, Soy Cristian, Bienvenido a mi Currículum Vitae Web</h1>

<br />
<h3 align="center">
    <img src="https://raw.githubusercontent.com/iampavangandhi/iampavangandhi/master/gifs/Hi.gif" width="30px">
    Un apasionado desarrollador Full-stack .net de Barcelona
</h3>

<h6 align="center">
    Actualmente como Responsable del departamento de programación
</h6>

<SurveyPrompt Title="Que te parece?" />


@code{
    protected override void OnInitialized()
    {
        NavManager.NavigateTo("/KrakerCV/DatosPersonales");
    }
}